/* ================== CSS VARIABLES ========================== */

:root {
    --backgroundColor: rgba(254, 251, 251, 1);
    --titleColor: rgba(242, 111, 82, 1);
    --activeColorClass: rgb(141, 111, 177);
    --main-font:'Nunito Sans', sans-serif;
    --fontSizeP: 0.9em;
    --boxShadow: 0px 4px 4px 0px rgba(69,69,69,0.59);
    --backgroundText: rgba(249, 246, 246, 1);
    --lineHeightP: 1.3em;
    --letterSpacingP: 0.03em;
    --borderRadius: 10px;
}

/* =========================================================== */

/* =================== GOOGLE FONT =========================== /

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* =========================================================== */

/* ==================== ALL & BODY =========================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--backgroundColor);
}

/* ====================== HEADER ============================= */

header {
    background-image: url(../assets/images/quartiers_libres_cut_opacity.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40px;
    position: fixed;
    top: 2%;
    right: 4%;
    padding: 4px;
    border-radius: var(--borderRadius);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header h1 {
    color: var(--titleColor);
    position: absolute;
    font-size: 3em;
    font-weight: 100;
}

/* ======== MEDIA QUERIES HEADER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}


/* ============================================== */

/* ======== MEDIA QUERIES HEADER DESKTOP ========= */

@media screen and (min-width: 1024px) {
    header img {
        display: none;
    }
}

/* =========================================================== */

/* ================ NAV BAR ================== */

nav {
    display: none;
}

/* ==== MEDIA QUERIES NAV BAR TABLET ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    nav {
        display: none;
    }
}

/* ====================================== */

/* ==== MEDIA QUERIES NAV BAR DESKTOP ==== */

@media screen and (min-width: 1024px) {
    nav {
        display: block;
        background-color: var(--titleColor);
        box-shadow: var(--boxShadow);
    }

    nav ul {
        color: var(--titleColor);
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 50px;
    }

    nav ul li {
        margin: 0 32px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        transition: background-color 2s;
        transition: transform 2s;
    }

    nav ul li:hover {
        transform: scale(1.1);
        background-color: var(--activeColorClass);
        border-radius: var(--borderRadius);
    }

    nav ul li a {
        color: var(--backgroundText);
        font-size: 1.2em;
    }

    .active {
        background-color: var(--activeColorClass);
        font-weight: bolder;
        font-size: large;
    }
}

/* ====================================== */

/* =========================================== */


/* ======================= MAIN ============================== */

main p {
    margin: 32px 18px;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
    font-size: small;
}

main article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 12px 0 32px;
}

main article img {
    width: 16vw;
    margin-bottom: 12px;
}

main article h4 {
    text-align: center;
    margin: 8px 24px;
    letter-spacing: var(--letterSpacingP);
}

main article p {
    margin: 12px 18px;
    letter-spacing: var(--letterSpacingP);
}

/* ======== MEDIA QUERIES MAIN TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    main p:first-child {
        margin: 50px 7rem 32px;
    }

    .advocacy-grid {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        text-align: center;
        flex-wrap: wrap;
    }

    main article img {
        width: 10vw;
    }
}

/* ============================================ */

/* ======== MEDIA QUERIES MAIN DESKTOP ========= */

@media screen and (min-width: 1024px){

    main p:first-child {
        text-align: center;

    }
 
    .advocacy-grid {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        text-align: center;
        flex-wrap: wrap;
    }

    main article {
        width: 40vw;
        margin: 0 auto;
        background-color: var(--backgroundText);
        box-shadow: var(--boxShadow);
        border-radius: 12px;
        margin: 12px 4vw 30px;
        padding: 10px 20px;
    }

       main article img {
        width: 5vw;
    }

    main article p {
        text-align: start;
    }

}

/* =========================================================== */

/* ======================= FOOTER ============================== */


/* ======== MEDIA QUERIES FOOTER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}


/* =============================================== */

/* ======== MEDIA QUERIES FOOTER DESKTOP ========= */

@media screen and (min-width: 1024px) {
}

/* =========================================================== */
