/* ================== CSS VARIABLES ========================== */

:root {
    --backgroundColor: rgba(254, 251, 251, 1);
    --titleColor: rgba(242, 111, 82, 1);
    --activeColorClass: rgb(141, 111, 177);
    --main-font:'Nunito Sans', sans-serif;
    --fontSizeP: 1.1em;
    --boxShadow: 0px 4px 4px 0px rgba(69,69,69,0.59);
    --backgroundText: rgba(249, 246, 246, 1);
    --lineHeightP: 1.3em;
    --letterSpacingP: 0.03em;
    --borderRadius: 10px;
}

/* =========================================================== */

/* =================== GOOGLE FONT =========================== /

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* =========================================================== */

/* ==================== ALL & BODY =========================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
    color: rgb(27, 27, 27);
}

body {
    background-color: var(--backgroundColor);
}

/* ====================== HEADER ============================= */

header {
    background-image: url(../assets/images/quartiers_libres_cut_opacity.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40px;
    position: fixed;
    top: 2%;
    right: 4%;
    padding: 4px;
    border-radius: var(--borderRadius);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header h1 {
    color: var(--titleColor);
    position: absolute;
    font-size: 2.3em;
    font-weight: 600;
    letter-spacing: var(--letterSpacingP);
}

/* ======== MEDIA QUERIES HEADER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    header h1 {
        font-size: 3em;
    }
}


/* ============================================== */

/* ======== MEDIA QUERIES HEADER DESKTOP ========= */

@media screen and (min-width: 1024px) {
    header img {
        display: none;
    }

    header {
        height: 35vh;
    }

    header h1 {
        font-size: 4em;
    }
}

/* =========================================================== */

/* ================ NAV BAR ================== */

.navbar-desktop {
    display: none;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85vw;
    background-color: var(--activeColorClass);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1vh;
    right: -150vw;
    z-index: 999;
    box-shadow: var(--boxShadow);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: right 0.5s;
}

.list-visible {
    right: 0;
}

.navbar-mobile img {
    width: 10vw;
    position: fixed;
    top: 1%;
    left: 2%;
    padding: 4px;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
}

.icon-rotation {
    transform: rotate(270deg);
}

.nav-list-mobile li {
    margin: 5vh auto;
}

.nav-list-mobile a {
    color: var(--backgroundText);
    font-size: 1.4em;
}

.nav-list-mobile p {
    color: var(--backgroundText);
    font-size: 0.9em;
    text-align: center;
    margin: 0.5vh auto;
}

/* ==== MEDIA QUERIES NAV BAR TABLET ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile img {
        top: 3%;
        left: 3%;
        width: 7vw;
    }

    .nav-list-mobile {
        height: 70vh;
        width: 86vw;
    }

    .nav-list-mobile a {
        font-size: 1.6em;
    }
}

/* ====================================== */

/* ==== MEDIA QUERIES NAV BAR DESKTOP ==== */

@media screen and (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: block;
        background-color: var(--titleColor);
        box-shadow: var(--boxShadow);
        width: 100vw;
    }

    .navbar-desktop ul {
        color: var(--titleColor);
        height: 5vh;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .navbar-desktop ul li {
        margin: 0 32px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        transition: background-color 2s;
        transition: transform 2s;
    }

    .navbar-desktop ul li:hover {
        transform: scale(1.1);
        background-color: var(--activeColorClass);
        border-radius: var(--borderRadius);
    }

    .navbar-desktop ul li a {
        color: var(--backgroundText);
        font-size: 1.3em;
    }

    .active {
        background-color: var(--activeColorClass);
        font-weight: bolder;
        font-size: large;
    }
}

/* ====================================== */

/* =========================================== */

/* ======================= MAIN ============================== */

main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 4vh auto 3vh;
    width: 93vw;
}

main section p, main section b {
    margin: 10px auto;
    text-align: start;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
    font-size: var(--fontSizeP);
}

main section div {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 2vh auto;
}

main section div:last-of-type {
    margin-bottom: 7vh;
}

.single-yellow, .green-and-red, .single-red  {
    width: 16vw;
}

.single-green {
    width: 10vw;
}

.single-purple {
    width: 14vw;
}

.green-and-purple {
    width: 20vw;
}

.blue-and-yellow {
    width: 22vw;
}

main section div h4 {
    letter-spacing: var(--letterSpacingP);
    font-size: 1.1em;
    text-align: center;
    margin-top: 1vh;
}

/* ======== MEDIA QUERIES MAIN TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    main p:first-child {
        margin: 3vh 10vw 5vh;
    }

    .advocacy-grid {
        display: grid;
        grid-template-columns: repeat(2, 50vw);
        text-align: center;
        flex-wrap: wrap;
    }

    main section div {
        height: 40vh;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 2vh 3vw;
    }

    .single-yellow, .green-and-red, .single-red  {
        width: 10vw;
    }
    
    .single-green {
        width: 6vw;
    }
    
    .single-purple {
        width: 8vw;
    }
    
    .green-and-purple {
        width: 13vw;
    }
    
    .blue-and-yellow {
        width: 15vw;
    }
}

/* ============================================ */

/* ======== MEDIA QUERIES MAIN DESKTOP ========= */

@media screen and (min-width: 1024px){

    main p:first-child {
        text-align: center;
        margin: 3vh auto 5vh;
    }
 
    .advocacy-grid {
        display: grid;
        grid-template-columns: repeat(2, 41vw);
        text-align: center;
        flex-wrap: wrap;
    }

    main section div {
        width: 32vw;
        background-color: var(--backgroundText);
        box-shadow: var(--boxShadow);
        border-radius: 12px;
        margin: 12px 4vw 5vh;
        padding: 10px 2vw;
    }

    .single-yellow, .green-and-red, .single-red  {
        width: 4vw;
    }
    
    .single-green {
        width: 2.5vw;
    }
    
    .single-purple {
        width: 3vw;
    }
    
    .green-and-purple, .blue-and-yellow {
        width: 5vw;
    }

    main section div p {
        text-align: start;
    }

}

/* =========================================================== */

/* ======================= FOOTER ============================== */


/* ======== MEDIA QUERIES FOOTER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}


/* =============================================== */

/* ======== MEDIA QUERIES FOOTER DESKTOP ========= */

@media screen and (min-width: 1024px) {
}

/* =========================================================== */
