/* ================== CSS VARIABLES ========================== */

:root {
    --backgroundColor: rgba(254, 251, 251, 1);
    --titleColor: rgba(242, 111, 82, 1);
    --activeColorClass: rgb(141, 111, 177);
    --main-font:'Nunito Sans', sans-serif;
    --fontSizeP: 1.1em;
    --boxShadow: 0px 4px 4px 0px rgba(69,69,69,0.59);
    --backgroundText: rgba(249, 246, 246, 1);
    --lineHeightP: 1.3em;
    --letterSpacingP: 0.03em;
    --borderRadius: 10px;
}

/* =========================================================== */

/* =================== GOOGLE FONT =========================== /

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* =========================================================== */

/* ==================== ALL & BODY =========================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--backgroundColor);
}

/* ====================== HEADER ============================= */

header {
    background-image: url(../assets/images/velorution_cordieliers.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header img {
    width: 40px;
    position: fixed;
    top: 2%;
    right: 4%;
    padding: 4px;
    border-radius: var(--borderRadius);
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
}

header h1 {
    color: var(--titleColor);
    font-size: 2.3em;
    font-weight: 500;
    margin: auto 2vw;
    text-align: center;
    letter-spacing: var(--letterSpacingP);
}

/* ======== MEDIA QUERIES HEADER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    header {
        background-position: top;
        height: 25vh;
    }

    header img {
        width: 55px;
        top: 3%;
    }

    header h1 {
        font-size: 3em;
    }
}


/* ============================================== */

/* ======== MEDIA QUERIES HEADER DESKTOP ========= */

@media screen and (min-width: 1024px) {
    header {
        background-position: center;
        height: 35vh;
    }

    header img {
        display: none;
    }

    header h1 {
        font-size: 4em;
    }
}

/* =========================================================== */

/* ================ NAV BAR ================== */

.navbar-desktop {
    display: none;
}

.nav-list-mobile {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 85vw;
    background-color: var(--activeColorClass);
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 1vh;
    right: -150vw;
    z-index: 999;
    box-shadow: var(--boxShadow);
    -webkit-border-top-left-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-topleft: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    transition: right 0.5s;
}

.list-visible {
    right: 0;
}

.navbar-mobile img {
    width: 10vw;
    position: fixed;
    top: 1%;
    left: 2%;
    padding: 4px;
    border-radius: 8px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 7px );
    -webkit-backdrop-filter: blur( 7px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    z-index: 1000;
    transition: transform 0.5s ease-in-out;
}

.icon-rotation {
    transform: rotate(270deg);
}

.nav-list-mobile li {
    margin: 5vh auto;
}

.nav-list-mobile a {
    color: var(--backgroundText);
    font-size: 1.4em;
}

.nav-list-mobile p {
    color: var(--backgroundText);
    font-size: 0.9em;
    text-align: center;
    margin: 0.5vh auto;
}

/* ==== MEDIA QUERIES NAV BAR TABLET ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    .navbar-desktop {
        display: none;
    }

    .navbar-mobile img {
        top: 3%;
        left: 3%;
        width: 7vw;
    }

    .nav-list-mobile {
        height: 70vh;
        width: 86vw;
    }

    .nav-list-mobile a {
        font-size: 1.6em;
    }
}

/* ====================================== */

/* ==== MEDIA QUERIES NAV BAR DESKTOP ==== */

@media screen and (min-width: 1024px) {
    .navbar-mobile {
        display: none;
    }

    .navbar-desktop {
        display: block;
        background-color: var(--titleColor);
        box-shadow: var(--boxShadow);
        height: 5vh;
        width: 100vw;
        transition: all 0.25s ease-in-out;
    }

    .navbar-desktop.scroll {
        position: fixed;
        top: 0;
        z-index: 999;
        opacity: 95%;
        height: 4vh;
    }

    .navbar-desktop ul {
        color: var(--titleColor);
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 5vh;
        transition: all 0.25s ease-in-out;
    }

    .navbar-desktop.scroll ul {
        height: 4vh;
    }

    .navbar-desktop ul li {
        margin: 0 32px;
        height: 5vh;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0 30px;
        transition: all 0.25s ease-in-out;
    }

    .navbar-desktop.scroll ul li {
        height: 4vh;
    }

    .navbar-desktop ul li:hover {
        transform: scale(1.1);
        background-color: var(--activeColorClass);
        border-radius: var(--borderRadius);
    }

    .navbar-desktop.scroll ul li:hover {
        transform: scale(1);
    }

    .navbar-desktop ul li a {
        color: var(--backgroundText);
        font-size: 1.3em;
        transition: all 0.25s ease-in-out;
    }

    .navbar-desktop.scroll ul li a {
        font-size: 1.1em;
    }

    .active {
        background-color: var(--activeColorClass);
        font-weight: bolder;
        font-size: large;
    }
}

/* ====================================== */

/* =========================================== */

/* ======================= MAIN ============================== */

/* === ALL SECTIONS === */

main section {
    margin: 32px 8px;
    display: flex;
    flex-direction: column;
}

main section p, main section b {
    margin: 10px auto;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
    font-size: var(--fontSizeP);
}

/* LINKS MOBILE*/

main section a {
    text-align: center;
    background-color: var(--titleColor);
    color: var(--backgroundText);
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    font-size: 1.5em;
    width: 100%;
    margin: 12px auto;
    padding: 14px 0;
}

/* === LINKS TABLET === */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    main section a {
        font-size: 1.8em;
        width: 80vw;
        margin: 2vh auto 6vh;
        padding: 20px 0;
    }
}

/* === LINKS DESKTOP === */

@media screen and (min-width: 1024px) {
    main section a {
        font-size: 1.8em;
        width: 45vw;
        margin: 2vh auto 6vh;
        padding: 20px 0;
        transition: transform 2s;
    }

    main section a:hover {
        transform: scale(1.1);
    }
}

/* ==================== */

/* === FIRST SECTION === */

main section:nth-of-type(1) img {
    width: 45px;
    margin-left: 18vw;
}

main section:nth-of-type(1) div:nth-of-type(1) div {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 80vw;
    margin: 0 auto 4vh;
    height: 13vh;
    background-color: whitesmoke;
    box-shadow: var(--boxShadow);
    border-radius: var(--borderRadius);
}

main section:nth-of-type(1) div:nth-of-type(1) div p:nth-of-type(1) {
    font-size: 1.4em;
}

main section:nth-of-type(1) div:nth-of-type(1) div p:nth-of-type(2){
    font-size: 1.5em;
}

main section:nth-of-type(1) div:nth-of-type(2) {
    margin: 12px 12px 24px;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
    font-size: var(--fontSizeP);
}

main section:nth-of-type(1) div:nth-of-type(2) p:first-of-type {
    margin-top: 12px;
}

/* ====================================== */

/* ==== MEDIA QUERIES MAIN FIRST SECTION TABLET ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    main section:nth-of-type(1) div:nth-of-type(1) {
        margin: 32px auto;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }

    main section:nth-of-type(1) img {
        width: 11vw;
        margin-left: 78vw;
        margin-top: 2.5vh;
        position: absolute;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div {
        width: 60vw;
        height: 12vh;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div p:first-of-type {
        font-size: 1.7em;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div p:nth-of-type(2) {
        display: none;
    }

    main section:nth-of-type(1) div:nth-of-type(2) {
        margin: 24px 7vw 24px;
    }

    main section:nth-of-type(1) div:nth-of-type(2) p:first-of-type {
        margin-top: 20px;
        line-height: 1.9em;
        letter-spacing: 0.01em;
    }
}

/* ====== MEDIA QUERIES MAIN FIRST SECTION TABLET DESKTOP ======= */

@media screen and (min-width: 1024px) {

    main section:nth-of-type(1) div:nth-of-type(1) {
        margin: 32px auto;
        display: flex;
        justify-content: center;
    }

    main section:nth-of-type(1) img {
        width: 105px;
        left: -5vw;
        top: 48vh;
        position: absolute;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div {
        width: 32vw;
        height: 12vh;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div p:first-of-type {
        font-size: 1.7em;
    }

    main section:nth-of-type(1) div:nth-of-type(1) div p:nth-of-type(2) {
        display: none;
    }

    main section:nth-of-type(1) div:nth-of-type(2) {
        width: 68vw;
        margin: 0 auto 5vh;
        font-size: 1.3em;
    }

    main section:nth-of-type(1) div:nth-of-type(2) p:first-of-type {
        margin-top: 20px;
        line-height: 1.9em;
        letter-spacing: 0.01em;
    }
}

/* =========================================================== */

/* ============================================ */

/* ===== SECOND SECTION (COUNTDOWN) ===== */

main section:nth-of-type(2) h6{
    font-size: 1.5em;
    margin-bottom: 24px;
    position: absolute;
    left: 30vw;
}

.countdown-container {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(2) img{
    width: 50px;
    margin-right: 5vh;
    align-self: flex-end;
}

.countdown-container-unity {
    background-color: rgba(46, 38, 48, 1);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0 5vw 32px;
    padding: 12px 0;
    border-radius: 10px;
    border: 0.2em solid var(--activeColorClass);
    box-shadow: var(--boxShadow);
}

.countdown-unity {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.9vh;
}

main section:nth-of-type(2) div div p:nth-of-type(1) {
    color: whitesmoke;
}

main section:nth-of-type(2) div div p:nth-of-type(2) {
    color: rgba(239, 55, 14, 1);
    font-size: 2em;
}

/* =================================== */

/* ==== MEDIA QUERIES MAIN SECOND SECTION TABLET (COUNTDOWN) ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    main section:nth-of-type(2) h6{
        position: relative;
        left: 0;
        text-align: center;
        font-size: 3em;
        margin: 32px 0 5vh;
    }
    .countdown-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    main section:nth-of-type(2) img{
        width: 60px;
        position: absolute;
        right: 79.5vw;
        margin-bottom: 3vh;
    }

    .countdown-container-unity {
        width: 65vw;
        height: 15vh;
    }

    main section:nth-of-type(2) div div p:nth-of-type(1) {
        font-size: 1.2em;
    }

    main section:nth-of-type(2) div div p:nth-of-type(2) {
        font-size: 3.3em;
    }
}

/* ==== MEDIA QUERIES MAIN SECOND SECTION DESKTOP (COUNTDOWN) ==== */

@media screen and (min-width: 1024px) {

    main section:nth-of-type(2) h6{
        position: relative;
        left: 0;
        text-align: center;
        font-size: 2.5em;
        margin: 32px 0 5vh;
    }
    .countdown-container {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 50vw;
        margin: 0 auto;
    }

    main section:nth-of-type(2) img{
        width: 100px;
        position: absolute;
        left: 85vw;
        top: 90vh;
    }

    .countdown-container-unity {
        width: 65vw;
        height: 13vh;
    }

    main section:nth-of-type(2) div div p:nth-of-type(1) {
        font-size: 1.2em;
    }

    main section:nth-of-type(2) div div p:nth-of-type(2) {
        font-size: 3.3em;
    }
}

/* =========================================================== */

/* ==================================================== */

/* === THRID SECTION (THIS THE WAY)=== */

main section:nth-of-type(3) {
    display: none;
}

main section:nth-of-type(3) h6 {
    text-align: center;
    font-size: 1.9em;
    margin: 12px 0 24px;
}

main section:nth-of-type(3) p:first-of-type {
    text-align: center;
    font-size: 3em;
    margin: 12px 0 24px;
}

main section:nth-of-type(3) p:nth-of-type(2) {
    letter-spacing: var(--letterSpacingP);
    line-height: var(--lineHeightP);
    font-size: var(--fontSizeP);
    margin: 12px 12px 24px;
}

main section:nth-of-type(3) div {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(3) img:first-of-type {
    width: 50px;
    margin: 12px 0 0 32px;
}

main section:nth-of-type(3) img:nth-of-type(2) {
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    margin-bottom: 12px;
}

/* =================================== */

/* ==== MEDIA QUERIES MAIN THIRD SECTION TABLET (THIS IS THE WAY) ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    main section:nth-of-type(3) h6{
        font-size: 3em;
        margin: 32px auto 0;
    }

    main section:nth-of-type(3) p:nth-of-type(2) {
        margin: 24px 7vw 24px;
        line-height: 1.9em;
        letter-spacing: 0.01em;
    }

    main section:nth-of-type(3) img:first-of-type {
        width: 80px;
        margin: 24px 0 0 75vw;
    }
    
    main section:nth-of-type(3) img:nth-of-type(2) {
        margin: 0 9vw 24px;
    }
}

/* ==== MEDIA QUERIES MAIN THIRD SECTION DESKTOP (THIS IS THE WAY) ==== */

@media screen and (min-width: 1024px) {

    main section:nth-of-type(3) h6{
        font-size: 3em;
        margin: 32px auto 0;
    }

    main section:nth-of-type(3) p:nth-of-type(2) {
        width: 68vw;
        margin: 2vh auto 5vh;
        font-size: 1.3em;
    }

    main section:nth-of-type(3) div {
        display: flex;
        flex-direction: row;
    }

    main section:nth-of-type(3) img:first-of-type {
        width: 8vw;
        position: absolute;
        top: 210vh;
        left: 10vw;
    }
    
    main section:nth-of-type(3) img:nth-of-type(2) {
        width: 45vw;
        margin: 0 auto;
    }
}

/* ==================================================== */

/* === FOURTH SECTION (ORGANIZATION)=== */

main section:nth-of-type(4) {
    text-align: center;
}

main section:nth-of-type(4) h6 {
    text-align: center;
    font-size: 1.9em;
    margin: 4vh 0 24px;
}

.et-star {
    width: 75px;
    margin: 12px auto;
}

main section:nth-of-type(4) p:nth-of-type(1){ 
    font-size: 2.5em;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
}

main section:nth-of-type(4) p:nth-of-type(2) {
    margin: 12px 0;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
}

main section:nth-of-type(4) p:nth-of-type(3) {
    text-align: start;
    margin: 12px;
    line-height: var(--lineHeightP);
    letter-spacing: var(--letterSpacingP);
}

.lyon-picture {
    border-radius: var(--borderRadius);
    box-shadow: var(--boxShadow);
    width: 95vw;
    margin: 2vh auto;
}

main section:nth-of-type(4) div div img {
    width: 25vw;
}

main section:nth-of-type(4) div div:first-child img {
    margin: 6vh auto 8px;
}

main section:nth-of-type(4) div div:first-child img:first-child {
    margin: 6vh auto 8px;
}

main section:nth-of-type(4) div div p:nth-of-type(2) {
    font-size: 1.2em;
}

.zig-zag {
    width: 20vw;
    margin: 0 auto 8px;
}

.zig-zag-tablel-desktop{
    display: none;
}

/* =================================== */

/* ==== MEDIA QUERIES MAIN FOURTH SECTION TABLET (ORGANIZATION) ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    main section:nth-of-type(4) {
        width: 80vw;
        margin: 6vh auto;
    }

    main section:nth-of-type(4) h6{
        font-size: 3em;
    }

    main section:nth-of-type(4) p:nth-of-type(3) {
        margin: 12px 0 24px;
        line-height: 1.9em;
        letter-spacing: 0.01em;
    }

    .lyon-picture {
        width: 80vw;
        margin: 6px auto;
    }

    .the-way {
        display: flex;
        flex-direction: row;
        height: auto;
        justify-content: center;
        margin-bottom: 10vw;
    }

    main section:nth-of-type(4) div div:first-of-type {
        align-self: flex-start;
    }

    main section:nth-of-type(4) div div img {
        width: 20vw;
    }

    .zig-zag {
        display: none;
    }

    .zig-zag-tablel-desktop {
        display: block;
        margin: 19vh 0 15vh 2vw;
        width: 20vw;
    }

    main section:nth-of-type(4) div div:nth-of-type(2) {
        align-self: flex-end;
        width: 30vw;
    }
}

/* ==== MEDIA QUERIES MAIN FOURTH SECTION(ORGANIZATION) DESKTOP ==== */

@media screen and (min-width: 1024px) {

    main section:nth-of-type(4) {
        width: 80vw;
        margin: 12vh auto 7vh;
    }

    main section:nth-of-type(4) h6{
        font-size: 3em;
        margin: 32px auto 6vh;
    }

    main section:nth-of-type(4) p:nth-of-type(2) {
        font-size: 1.3em;
    }

    main section:nth-of-type(4) p:nth-of-type(3) {
        line-height: 1.9em;
        letter-spacing: 0.01em;
        width: 68vw;
        font-size: 1.3em;
        margin: 12px auto 24px;
    }

    .lyon-picture {
        width: 45vw;
        margin: 6px auto;
    }

    .the-way {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 8vw;
    }

    main section:nth-of-type(4) div div:first-of-type {
        align-self: flex-start;
    }

    main section:nth-of-type(4) div div img {
        width: 8vw;
    }

    .zig-zag {
        display: none;
    }

    .zig-zag-tablel-desktop {
        display: block;
        margin: 28vh 0 15vh 2vw;
        width: 13vw;
    }

    main section:nth-of-type(4) div div:nth-of-type(2) {
        align-self: flex-end;
        width: 15vw;
    }
}

/* ==================================================== */

/* === FIFTH SECTION (PARTICIPATION)=== */

main section:nth-of-type(5) {
    width: 95vw;
    margin: 0 auto;
}

main section:nth-of-type(5) h6 {
    text-align: center;
    font-size: 1.9em;
    margin: 7vh 0 24px;
}

main section:nth-of-type(5) p {
    margin: 12px 1vw 24px;
}

main section:nth-of-type(5) a:first-of-type {
    margin-bottom: 4vh;
}


/* =================================== */

/* === MEDIA QUERIES MAIN FIFTH SECTION TABLET (PARTICIPATION) === */

@media screen and (min-width: 568px) and (max-width: 1024px) {

    main section:nth-of-type(5) {
        width: 80vw;
    }

    main section:nth-of-type(5) h6 {
        font-size: 3em;
        margin: 8vh auto 6vh;
    }

    main section:nth-of-type(5) p {
        line-height: 1.9em;
        letter-spacing: 0.01em;
    }
}

/* ==== MEDIA QUERIES MAIN FIFTH SECTION DESKTOP (PARTICIPATION) ==== */

@media screen and (min-width: 1024px) {

    main section:nth-of-type(5) {
        width: 80vw;
        margin: 5vh auto 2vh;
    }

    main section:nth-of-type(5) h6 {
        font-size: 3em;
        margin: 8vh auto 6vh;
    }

    main section:nth-of-type(5) p {
        line-height: 1.9em;
        letter-spacing: 0.01em;
        width: 68vw;
        font-size: 1.3em;
        margin: 12px auto 24px;
    }
}

/* ============================================ */

/* =========================================================== */

/* ======================= FOOTER ============================== */

footer {
    display: flex;
    justify-content: center;
    margin: 15vh auto 40px;
}

/* ======== MEDIA QUERIES FOOTER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    footer img {
        width: 13vw;
    }
}


/* =============================================== */

/* ======== MEDIA QUERIES FOOTER DESKTOP ========= */

@media screen and (min-width: 1024px) {
    footer img {
        width: 4.5vw;
        transition: transform 2s;
    }

    footer img:hover {
        transform: scale(1.1);
    }
}

/* =========================================================== */
