/* ================== CSS VARIABLES ========================== */

:root {
    --backgroundColor: rgba(254, 251, 251, 1);
    --titleColor: rgba(242, 111, 82, 1);
    --activeColorClass: rgba(114, 90, 143, 1);
    --hoverColorLink: rgba(0, 180, 96, 1);
    --main-font:'Nunito Sans', sans-serif;
    --boxShadow: 0px 3px 5px 3px rgba(69,69,69,0.59);
    --textShadow: -1px 4px 4px rgba(15,7,4,0.41);
    --backgroundText: rgba(249, 246, 246, 1);
    --lineHeightP: 1.5em;
    --letterSpacingP: 0.10em;
}
/* =========================================================== */

/* =================== GOOGLE FONT =========================== /

/* Nunito sans for the main text*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&display=swap');

/* Source Sans 3 for h2 and h3(not Source Sans Pro on fonts.google.com */
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Source+Sans+3:wght@500&display=swap');

/* =========================================================== */

/* ==================== ALL & BODY =========================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    scroll-behavior: smooth;
    font-family: var(--main-font);
    text-decoration: none;
    color: black;
}

body {
    background-color: var(--backgroundColor);
}

/* ====================== HEADER ============================= */

header {
    background-image: url(../assets/images/velorution_cordieliers.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 23vh;
    position: relative;
    display: flex;
    flex-direction: column;
}

header img {
    width: 36px;
    margin: 28px;
    float: right;
}

header h1 {
    color: var(--titleColor);
    font-size: 2.3em;
    font-weight: lighter;
    text-align: center;
    margin: 0 8px;
}

/* ======== MEDIA QUERIES HEADER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}


/* ============================================== */

/* ======== MEDIA QUERIES HEADER DESKTOP ========= */

@media screen and (min-width: 1024px) {
}

/* =========================================================== */

/* ================ NAV BAR ================== */

nav {
    display: none;
}

/* ==== MEDIA QUERIES NAV BAR TABLET ==== */

@media screen and (min-width: 568px) and (max-width: 1024px) {
    nav {
        display: none;
    }
}

/* ====================================== */

/* ==== MEDIA QUERIES NAV BAR DESKTOP ==== */

@media screen and (min-width: 1024px) {
    nav {
        display: block;
        height: 50px;
        display: flex;
        align-items: center;
        background-color: var(--titleColor);
        box-shadow: var(--boxShadow);
    }

    nav ul {
        color: var(--titleColor);
        display: flex;
        margin-left: 50px;
    }

    nav ul li {
        margin: 0 32px;
    }

    nav ul li a {
        color: whitesmoke;
        padding: 15px 40px;
        font-weight: bold;
        transition: background-color 0.6s;
        transition: transform 0.5s;
    }

    nav ul li a:hover {
        background-color: var(--hoverColorLink);
        transform: scale(1.5); 
    }

    .active {
        background-color: var(--activeColorClass);
        font-weight: bolder;
        font-size: large;
    }
}

/* ====================================== */

/* =========================================== */


/* ======================= MAIN ============================== */


/* ======== MEDIA QUERIES MAIN TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}

/* ============================================ */

/* ======== MEDIA QUERIES MAIN DESKTOP ========= */

@media screen and (min-width: 1024px){
}

/* =========================================================== */

/* ======================= FOOTER ============================== */


/* ======== MEDIA QUERIES FOOTER TABLET ========= */

@media screen and (min-width: 568px) and (max-width: 1024px) {
}


/* =============================================== */

/* ======== MEDIA QUERIES FOOTER DESKTOP ========= */

@media screen and (min-width: 1024px) {
}

/* =========================================================== */
